{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow">
      <div class="card-header text-center bg-primary text-white"><h4>Kirish</h4></div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100 mt-2">Kirish</button>
        </form>
      </div>
      <div class="card-footer text-center">
        <a href="{% url 'register' %}">Ro‘yxatdan o‘tish</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
